.pieces{
  margin: 40px;
}
.tile{
  border: 1px solid black;
  /*margin: 30px;*/
  position: absolute;
  width: 10vmin;
  height: 10vmin;
}

.player1pieces .piece{
  position:absolute;
  /*margin: 4vmin;*/
  border:1vmin solid red;
  /*background-color: yellow;*/
  border-radius: 7vmin;
  padding: 3vmin;
  margin-top: 1vmin;
  margin-left: 1vmin;
}

.player2pieces .piece{
  position:absolute;
  /*margin: 4vmin;*/
  border:1vmin solid black;
  /*background-color: yellow;*/
  border-radius: 7vmin;
  padding: 3vmin;
  margin-top: 1vmin;
  margin-left: 1vmin;
}
