.pieces{
  margin: 40px;
}
.tiles .tile{
  /*border: 1px solid black;*/
  background-color: #e6e6e6;
  /*margin: 30px;*/
  position: absolute;
  width: 10vmin;
  height: 10vmin;
}

.tile:hover{
  /*background-color: #8c1aff*/
}

.non-active-tiles .tile{
  background-color: black;
  /*margin: 30px;*/
  position: absolute;
  width: 10vmin;
  height: 10vmin;
}



.player1pieces .piece{
  position:absolute;
  /*margin: 4vmin;*/
  border:1vmin solid red;
  background-color: #ff9999;
  border-radius: 7vmin;
  padding: 3vmin;
  margin-top: 1.1vmin;
  margin-left: 1.1vmin;
}

.player2pieces .piece{
  position:absolute;
  /*margin: 4vmin;*/
  border:1vmin solid black;
  background-color: #8c8c8c;
  border-radius: 7vmin;
  padding: 3vmin;
  margin-top: 1.1vmin;
  margin-left: 1.1vmin;
}

.piece:hover{
  cursor:pointer;
  background-color: #8c1aff;
}
